@{
	Layout = "Header_Footer";
}
@using Book_Market.Models
@model List<Product>
@addTagHelper  *,Microsoft.AspNetCore.Mvc.TagHelpers

<!-- Start Hero Section -->
<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>Cửa Hàng</h1>
				</div>
			</div>
			<div class="col-lg-7">
			</div>
		</div>
	</div>
</div>
<!-- End Hero Section -->



<div class="untree_co-section product-section before-footer-section">
	<div class="container">
		<div class="row">

			@{
				foreach(Product pro in Model)
				{
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" asp-controller="Home" asp-action="Product" asp-route-Id="@pro.Id">
							<img src="/product/@pro.Image" class="img-fluid product-thumbnail">
							<h3 class="product-title">@pro.Name</h3>
							<strong class="product-price">@pro.Price $</strong>

							<span class="icon-cross">
								<img src="images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div>
				}
			}

		</div>
	</div>

	@{
		
		var left = ViewBag.Page - 1;
		var right = ViewBag.Page + 1;
	}

	<div class="paging-container">
		<div class="paging-bar">
			<a asp-controller="Home" asp-action="All_Product" asp-route-Category="@ViewBag.Category" asp-route-Page="@left" class="paging-bar__left"><span><</span></a>
			<span>@ViewBag.Page / @ViewBag.MaxPage</span>
			<a asp-controller="Home" asp-action="All_Product" asp-route-Category="@ViewBag.Category" asp-route-Page="@right" class="paging-bar__right"><span>></span></a>
		</div>
	</div>

	

	<style>
		.paging-bar * {
			display: inline-block;
			font-size: 20px;
			font-weight: bold;
		}

		.paging-container {
			display: flex;
			justify-content: center;
		}

		.paging-bar {
			display: flex;
			align-items: center;
		}

			.paging-bar a {
				text-decoration: none;
				background-color: #3b5d50;
				padding: 20px;
				border-radius: 50%;
				color: aliceblue;
				position: relative;
			}

				.paging-bar a span {
					position: absolute;
					top: 50%;
					right: 50%;
					transform: translate(50%, -50%);
				}

			.paging-bar span {
				padding: 0 10px;
			}

			.paging-bar a:hover {
				filter: brightness(0.8);
			}
	</style>
</div>


