@{
	Layout = "Header_Footer";
}
@model Book_Market.Models.Product



<div class="product-container">
    @if (Model != null)
    {
        <div class="under">
            <div class="under__left-product" style="background-image:url('/product/@Model.Image')">
            </div>

            <div class="under__right-product">
                <h1 class="name">@Model.Name</h1>
                <span>
                    <span>Tác Giả:</span>
                    <span>@Model.Author</span>
                </span>
                <span>
                    <span>Thể Loại:</span>
                    <span>@Model.Category</span>
                </span>
                <span>
                    <span>Số Lượng:</span>
                    <span>@Model.Quantity</span>
                </span>
                <span>
                    <span>Giá:</span>
                    <span>@Model.Price $</span>
                </span>

                <a href="" class="product_buy">Mua</a>
            </div>
        </div>
        <div class="bottom">
            <h2>DESCRIPTION</h2>
            <p class="description">
                @Model.Description
            </p>
        </div>
    }
    
</div>